<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hometest</title>
    <meta name="description" content="Webpage">
    <link rel="stylesheet" href="css/hometest.css">
</head>

<body>
    <header>
        <h1>LAYDUNA</h1>
    </header>

    <main>
        <div>
            <section class = "shade">
                <h2>Foundation shade for you</h2>
                <h3>เฉดสีรองพื้นที่ได้จากการวิเคราะห์สีผิว</h3>
                <h4>Closest color to skin tone: <%= closestColor.name %></h4>

                <div class = "choose">
                    <ul>
                        <% users.forEach(function(user) { %>
                            <li>
                                R: <%= user.colorR %> 
                                G: <%= user.colorG %> 
                                B: <%= user.colorB %>
                            </li>
                        <% }); %>
                    </ul>
                </div>

                <div class = "tone">
                    <style>
                        :root {
                            --R: <%= closestColor.R %>;
                            --G: <%= closestColor.G %>;
                            --B: <%= closestColor.B %>;
                        }
                        .tone {
                            background-color: rgb(var(--R), var(--G), var(--B));
                        }
                    </style>
                </div>
            </section>

            <section class = "range">
                <h5>Range</h5>
            </section>
        </div>

        <section class = image>
            <h6>Image</h6>
            <% users.forEach(function(user) { %>
                <img src = "<%= user.image %>" alt = "User Image">
            <% }); %>
        </section>
    </main>

</body>
</html>
